.zootopia {
	&-cams {
		background: $teal;
		margin: 60px 0 0;
		padding: 0 0 50px;

		hr {
			background-color: #fff;
			border: none;
			color: #fff;
			height: 1px;
			margin: 60px 0 50px;
		}

		&__left {
			display: inline-block;
			padding: 0 30px 0 0;
			text-align: left;
			width: calc(50% - 5px);
			vertical-align: top;
			
			@media all and (max-width:$break-desktop) {
				display: block;
				padding: 0 20px;
				width: 100%;
			}
			
			h2 {
				color: #fff;
				margin: 10px 0 0;
			}
			
			h3 {
				color: $yellow;
			}
			
			&--more-cams {
				h3 {
					color: #fff;
					font-size: 1.5rem;
					letter-spacing: 0.16em;
					margin: 8px 0 0;
					
					@media all and (max-width:$break-desktop) {
						text-align: center;
					}
				}
			}
			
			&__sponsored {
				img {
					display: block;
					margin: 0 5px;
					max-width: 225px;
				}
			}

		}
		
		&--down {
			iframe {
				display: none;
			}
			
			img {
				&:first-of-type {
					display: block;
				}
			}
		}

		&__main {
			margin: 0 0 -30px;
			position: relative;
			top: -60px;

			&--down {
				iframe {
					display: none;
				}
				
				img {
					&:first-of-type {
						display: block;
					}
				}
			}

			img {
				display: none;
			}

		}
		
		&__more {
			margin: 50px 0 0;
			text-align: center;
			
			&--visible {
				.btn-large {
					display: none;
				}
				
				&.zootopia-cams__more .zootopia-cams__feed {
					display: inline-block;
				}
			}
			
			.zootopia-cams__feed {
				display: none;
			}
		}
		
		&__feed {
			display: inline-block;
			margin-top: 10px;
			text-align:center;
			width: calc(50% - 5px);
			vertical-align: top;
			
			@media all and (max-width:$break-desktop) {
				display: block;
				margin: 0 0 40px;
				padding: 0px 20px !important;
				width: 100%;
			}
			
			&--down {
				iframe {
					display: none;
				}
				
				img {
					&:first-of-type {
						display: block;
					}
				}
			}
			
			h3 {
				color:white;
				margin: 20px 0 0;
			}
			
			img {
				display: none;
			}
			
			// p {	
			// 	.type-small {
			// 		color: white;
			// 	}
			// }

			&__right {
				padding-left:15px;
			}

			&__left {
				padding-right:15px;
			}
		}

		p {
			color: #fff;
		}
		
		&__right {
			display: inline-block;
			text-align: left;
			width: 50%;
			vertical-align: top;
			
			@media all and (max-width:$break-desktop) {
				display: block;
				padding: 20px;
				width: 100%;
			}
		}
		
		&.fill-ocean {
			border-bottom: none;
			
			h2, h3, p {
				color: #fff;
			}
		}
		
		h2 {
			margin: 15px 0;
		}
		
		&__intro {
			color: #272b2d !important;
			margin: 25px auto 0 !important;
		}
		
		&__note {
			color: #8a8885;
			font-family: $font-lato !important;
			font-size: 0.875rem !important;
			line-height: 1.15rem !important;
			margin: 50px auto 50px !important;
			text-align:center;
		}
		
		&--offline {
			.zootopia-cams__feed__embed {
				display: none;
			}
			
			img {
				&:last-of-type {
					display: block;
				}
			}
		}
		
		p {
			margin: 15px auto 0;
			max-width: 800px;
			
			&:first-of-type {
				margin: 15px auto 0;
			}
			
			&:nth-of-type(2) {
				color: #8a8885;
				margin: 15px auto 50px;
			}
		}
		
		&--park {
			p:first-of-type {
				margin: 15px auto 50px;
			}
		}
	}
}