.zootopia {
	&-posts {
		margin: 70px 0 40px;
		text-align:center;
		
		.btn-large {
			transition: $default-transition;
			
			&--is-hidden {
				max-height: 0;
				opacity: 0;
				padding: 0;
			}
		}
		
		&__entry {
			display: inline-block;
			margin: 15px;
			max-height: 0;
			opacity: 0;
			transition: $default-transition;
			width: calc(33.33% - 23px);
			vertical-align: top;
			
			@media all and (max-width:$break-desktop) {
				display: block;
				margin: 0 15px 30px;
				width: calc(100% - 30px);
			}
			
			&:nth-of-type(-n+3) {
				max-height: 2000px;
				opacity: 1;
			}
			
			&:nth-of-type(1),
			&:nth-of-type(4n) {
				margin: 15px 15px 15px 0;
				
				@media all and (max-width:$break-desktop) {
					margin: 0 15px 30px;
				}
			}
			
			&:nth-of-type(3n) {
				margin: 15px 0 15px 15px;
				
				@media all and (max-width:$break-desktop) {
					margin: 0 15px 30px;
				}
			}
			
			.instagram-media {
				margin: 0 auto !important;
				min-width: 200px !important;
			}
			
			&--is-visible {
				max-height: 2000px;
				opacity: 1;
			}
		}

		h2 {
			margin-bottom: 30px;
		}
		
		p {
			// margin: -25px 0 0;
			text-align: center;
		}

		&__social {
			margin: 60px auto;
			width: 60%;

			@media all and (max-width: $break-tablet) {
				margin-bottom: 0px;
				width: 80%;
			}

			h2 {
				font-size:2.0625rem;
				line-height:2.0625rem;
				margin-bottom: 10px;
			}

			ul {
				margin-top: 15px;

				li {
					display: inline-block;
					margin: 0 0 0 5px;
					vertical-align: middle;
					
					&:first-of-type {
						margin-left:0px;
					}
					
					a {
						transition: $default-transition;
						
						&:hover {
							opacity: .8;
						}
					}

					svg {
						border: 1px solid $green;
						border-radius: 100%;
						fill: $green;
						padding: 7px;

						@media all and (max-width: $break-tablet) {
							height: 42px;
							width: 42px;
						}
					}
				}
			}
		}

	}
}