.zootopia {
	&-two-panel {
		background: $blue;
		display: table;
		width: 100%;
		
		&--classroom {
			h2, h3 {
				max-width: 500px;
			}
			
			p {
				max-width: 500px;
			}
			
			.zootopia-two-panel__image {
				background-image: url('https://cdn.wcs.org/2020/04/01/723cy6i2ac_IMG_2949.jpg');
				
				&__spacer {
					min-height: 700px;
					
					@media all and (max-width:$break-desktop) {
						min-height: 500px;
					}
				}
			}
		}

		&--encounters {

			h2, h3 {
				max-width: 500px;
			}
			
			p {
				max-width: 500px;
			}

			.zootopia-two-panel__image {
				background-image: url('https://cdn.wcs.org/2020/08/18/fxkvdnh6u_Julie_Larsen_Maher_6737_Hoffman_s_Toe_toed_Sloth_WAC_BZ_07_11_18_1.png');
				
				&__spacer {
					min-height: 500px;
					
					@media all and (max-width:$break-desktop) {
						min-height: 300px;
					}
				}
			}

			.zootopia-two-panel__content {				
				@media all and (max-width:$break-desktop) {
					padding: 40px 20px;
				}
			}
		}
		
		&__content {
			display: table-cell;
			padding: 80px;
			vertical-align: middle;
			width: 50%;
			
			@media all and (max-width:$break-desktop) {
				display: block;
				width: 100%;
			}
			
			@media all and (max-width:$break-tablet) {
				padding: 50px;
			}
		}
		
		h2, h3 {
			color: #fff;
			
			@media all and (max-width:$break-desktop) {
				max-width: 100%;
			}
		}
		
		h2 {
			margin: 0 auto 30px;
		}
		
		h3 { 
			margin: 0 auto 15px;
		}
		
		&__image {
			background-position: center center;
			background-size: cover;
			display: table-cell;
			vertical-align: top;
			width: calc(50% - 5px);
			
			@media all and (max-width:$break-desktop) {
				display: block;
				width: 100%;
			}
		}
		
		p {
			color: #fff;
			margin: 0 auto 40px;
			
			@media all and (max-width:$break-desktop) {
				max-width: 100%;
			}
				
			&:last-of-type {
				margin: 0 auto;
			}
		}
		
		&--virtual-wild-encounters {
			
			.zootopia-two-panel__content {
				padding: 150px;
				
				@media all and (max-width:$break-desktop) {
					padding: 80px;
				}
				
				@media all and (max-width:$break-tablet) {
					padding: 50px;
				}
				
				h2 {
					font-size: 2.25rem;
					line-height: 2.25rem;
					letter-spacing: 0.05rem; 
				}
			}
			
			.zootopia-two-panel__image {
				background-image: url('https://cdn.wcs.org/2025/04/04/15/16/16/bc624906-2fa6-45ef-a17a-8aed243e234b/bz-virutal-wild-encounters.jpg');
				
				&__spacer {
					min-height: 500px;
					
					@media all and (max-width:$break-desktop) {
						min-height: 300px;
					}
				}
			}
		}
		
		&--the-zoo {
			h2 {
				background-size: cover;
				background-image: url('https://cdn.wcs.org/2019/01/25/1tfx1zzmn1_logo_the_zoo.png');
				height: 90px;
				margin: 0 0 20px;
				overflow: hidden;
				text-indent: -99999px;
				width: 196px;
			}
			
			.zootopia-two-panel__content {
				padding: 100px;
				
				@media all and (max-width:$break-desktop) {
					padding: 60px;
				}
			}
			
			.zootopia-two-panel__image {
				background-image: url('https://cdn.wcs.org/2020/03/30/3ctwyynpaa_Julie_Larsen_Maher_1384_Tassler_Heather_Keeper_with_Ringtailed_Lemurs_MAD_BZ_06_30_16_1.jpg');
				
				&__spacer {
					min-height: 500px;
					
					@media all and (max-width:$break-desktop) {
						min-height: 300px;
					}
				}
			}
		}
	}
}